<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sample app</title>
  {% if isProd %}
    <link href="/dist/{{ webpack.style }}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
      //<![CDATA[
      window.webpackManifest = {{ webpack.webpackChunkManifest | safe }}
      //]]>
    </script>
  {% endif %}
</head>
<body>
  <div id="app-container">{{ content | safe }}</div>
  <script type="text/javascript">
    window.state = {{ state | safe }}
  </script>
  <script src="/dist/{{ webpack.vendor }}"></script>
  <script src="/dist/{{ webpack.app }}"></script>
</body>
</html>
